
/*Text-inputs*/
.mat-in {
    position: relative;
    margin-bottom: 32px;
}

.QT {
    border: none;
    border-bottom: 1px solid #92a8d1;
    display: block;
    font-size: 16px;
    padding: 8px 0px;
    -webkit-transition: 0.2s border-bottom;
    transition: 0.2s border-bottom;
    width: 100%;
}

    .QT:focus, .QT:invalid {
        box-shadow: none;
        outline: none;
    }

    .QT:focus {
        border-bottom: 3px solid #92a8d1;
    }

/*Labels*/
.QTT {
    color: #F7E3CA;
    font-size: 16px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.QT:focus ~ label, .QT:valid ~ label {
    color: #F7E3CA;
    font-size: 12px;
    top: -16px;
}

/*Bar that appears when an input is selected*/
.bar:before, .bar:after {
    background: #92a8d1;
    bottom: 1px;
    content: '';
    height: 2px;
    position: absolute;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    width: 0;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.QT:focus ~ .bar:before, .QT:focus ~ .bar:after {
    width: 50%;
}
