
<div class="my-0 p-3 bg-white rounded ">
    @foreach (var na in ViewBag.view)
    {<div class="border-bottom border-gray">
            <h4 class=" pb-2 mb-0 col-12" style="@na.Type_Color"><i class="@na.Type_icon" style="@na.Type_Color;"></i>&nbsp;&nbsp;@na.Polls_Name</h4>
        </div>}


    <div id="container" style="width:auto;height:356px"></div>


</div>

@{
    string json = "[";
    foreach (KeyValuePair<string, int> kvp in ViewBag.obj)
    {
        json += @"{value: " + kvp.Value + " ," + "x :' " + kvp.Key + "'},";
    }

    json = json.Substring(0, json.Length - 1) + "]";
}

@section scripts{
    
    <script src="~/Scripts/AnyChart 8.7.1/anychart-installation-package-8.7.1/js/anychart-base.min.js"></script>
    <link href="~/Scripts/AnyChart 8.7.1/anychart-installation-package-8.7.1/css/anychart-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/AnyChart 8.7.1/anychart-installation-package-8.7.1/js/anychart-core.min.js"></script>
    <script src="~/Scripts/AnyChart 8.7.1/anychart-installation-package-8.7.1/js/anychart-exports.min.js"></script>
    <script src="~/Scripts/AnyChart 8.7.1/anychart-installation-package-8.7.1/js/anychart-tag-cloud.min.js"></script>

    <script type="text/javascript">


        anychart.onDocumentReady(function () {


            // create data
            var data = @Html.Raw(json) ;

            // create a chart
            chart = anychart.tagCloud();

            // configure angles
            chart.angles([0]);

            // set the parsing mode
            chart.data(data, { mode: "by-word" });



            // set the container id
            chart.container("container");

            // initiate drawing the chart
            chart.draw();
        });

        // set the mode of the tag cloud
        function tagCloudMode(mode) {
            chart.mode(mode);
        }

    </script>

}
